
<div class="settings-section text-right justify-content-end">
  <button (click)="orderColumn()"><mat-icon color="green">settings</mat-icon></button>
</div>

<div class="table-tornillos" tabindex="0" >   
    <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} € </td>
        </ng-container>
    
        <!-- Format Column -->
        <ng-container matColumnDef="format">
          <th mat-header-cell *matHeaderCellDef> Formato </th>
          <td mat-cell *matCellDef="let element"> {{element.format}} </td>
        </ng-container>
    
        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"><button (click)="delete(element)"><mat-icon>delete</mat-icon></button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="example-sticky-toggle-group"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Ítems por página">
      </mat-paginator>
</div>