<div class="modal-add" *ngIf="modalAdd">
    <h1 mat-dialog-title>Nuevo producto</h1>
    <div class="contenido" mat-dialog-content>
        <section class="flex-container">
            <form [formGroup]="addTornillosForm">
                <div class="title-container">
                    <label for="name">Nombre: </label>
                </div>
                <div class="name-container">
                    <input id="name" type="text" [formControl]="name">
                </div>
                <div class="title-container">
                    <label>Precio</label>
                    <span class="example-spacer"></span>
                    <label class="lbl-format">Formato</label>
                </div>
                <div class="mid-row">
                    <div class="stepper">
                        <button mat-button class="minus" (click)="handleMinus()">-</button>
                        <span class="example-spacer"></span>
                        <input id="price" type="number" [formControl]="price" [readonly]="true" value="price">
                        <span class="example-spacer"></span>
                        <button mat-button class="plus" (click)="handlePlus()">+</button>
                    </div>
                    <select [formControl]="format">
                        <option *ngFor="let format of formats" [value]="format">{{format}}</option>
                    </select>
                </div>
                <div class="title-container">
                    <label>Marca</label>
                </div>
                <div class="name-container">
                    <input id="brand" type="text" [formControl]="brand" required>
                </div>
                
                
            </form>
            <div>
                <button class="modal-buttons button-cancel" mat-button mat-dialog-close (click)="close()">Cancelar</button>
            </div>
            <div>
                <button class="modal-buttons button-continue" mat-button (click)="saveTornillo()">Guardar</button>
            </div>
        </section>
    </div>
</div>

<div class="modal-delete" *ngIf="modalDelete">
    <p mat-dialog-title>Confirmación</p>
    <h3>¿Desea eliminar el elemento seleccionado?</h3>
    <div class="remove-buttons">
        <div>
            <button class="modal-buttons button-cancel" mat-button mat-dialog-close (click)="close()">Cancelar</button>
        </div>
        <div class="button-delete">
            <button class="modal-buttons button-continue" mat-button (click)="deleteTornillo()">Eliminar</button>
        </div>
    </div>
    
</div>

<div class="modal-order" *ngIf="modalOrder">
    <div class="row-close">
        <button class="close-button" mat-button (click)="close()">X</button>
    </div>
    <div class="order-container" mat-dialog-content>
        <div class="example-container">
            <h4>Rellenar, fijar u ocultar las columnas de la tabla</h4>
            <h2>Configurar columnas</h2>
        
            <div
              cdkDropList
              [cdkDropListData]="orderColumns"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of orderColumns" cdkDrag>{{item}}</div>
            </div>
        </div>
        <div class="order-buttons">
            <div>
                <button class="modal-buttons button-cancel" mat-button mat-dialog-close (click)="close()">Cancelar</button>
            </div>
            <div>
                <button class="modal-buttons button-continue" mat-button (click)="changeOrder()">Aplicar</button>
            </div>
        </div>
        
    </div>
</div>
